<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Capture Image from Webcam</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    /> -->

    <!-- <style>
      canvas {
        background-color: red;
        padding: 5px;
        margin: 5px;
      }
    </style> -->
  </head>
  <body style="background: #e3f2fd">
    <div class="container">
      <nav
        class="navbar navbar-expand-lg navbar-light"
        style="background-color: #e3f2fd;"
      >
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/uji">Uji</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tambah">Tambah Data</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Stream video via webcam -->
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <h1 class="text-center">Data Uji</h1>
          <video class="text-center" id="video" playsinline autoplay></video>
        </div>
      </div>

      <!-- Trigger canvas web API -->
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <button class="btn btn-primary" onclick="start_snapping()">
            Capture
          </button>
          <button class="btn btn-warning" onclick="stop_snapping()">
            Stop
          </button>
        </div>
      </div>
      <hr />

      <!-- Webcam video snapshot -->
      <!-- RGB - Grayscale - Threshold -->
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center" id="hasil">Hasil :</h1>
        </div>
        <!-- <div class="col-md-4">
          <h3 class="text-center">RGB</h3>
          <canvas id="imgRGB" width="128" height="128"></canvas>
        </div>
        <div class="col-md-4">
          <h3 class="text-center">Grayscale</h3>
          <canvas id="imgGrayscale" width="128" height="128"></canvas>
        </div>
        <div class="col-md-3">
          <h3 class="text-center">Canny</h3>
          <canvas id="outputcanvas" width="128" height="128"></canvas>
        </div> -->
      </div>
      <hr />
    </div>
    <script src="../js/canny.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
